@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  border-collapse: collapse;
}

a {
  text-decoration: none;
}

body, html {
  font-size: 20px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}

.Header {
  background-image: linear-gradient(180deg, #d6d6d696, #4c3b3b8c), url(../img/hero.jpg);
  background-position: center, center;
  background-attachment: scroll, scroll;
  background-size: cover, cover;
  padding: 1rem 0;
}
.Header__hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Header__hero--title {
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  color: #e6e6e6;
}

.Nav {
  height: 50px;
  background-color: #1e5b85;
  font-family: "Lato", sans-serif;
}
.Nav__list {
  line-height: 50px;
  display: flex;
}
.Nav__list--link {
  line-height: 50px;
  flex-basis: 15%;
}
.Nav__list a {
  display: inline-block;
  width: 100%;
  line-height: 50px;
  color: #e6e6e6;
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 1px;
}
.Nav__list a:hover {
  background: #1b5278;
}

.link-actually {
  background-color: #1e5b85;
}

.Main {
  display: flex;
  font-family: "Lato", sans-serif;
}
.Main__aside {
  flex-basis: 25%;
  box-shadow: 5px 0px 10px rgba(128, 128, 128, 0.1);
}
.Main__aside__block {
  padding-left: 1rem;
}
.Main__aside__block h4 {
  text-align: left;
  margin: 1rem 0;
  margin-right: 1rem;
  padding: 0.1rem;
  display: inline-block;
  font-weight: normal;
}
.Main__aside__block form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Main__aside__block form > * {
  align-self: flex-start;
}
.Main__aside__block form label {
  margin-bottom: 0.2rem;
}
.Main__aside__block form input {
  height: 1.3rem;
  padding: 0.1rem 0.3rem;
  margin-bottom: 0.5rem;
}
.Main__aside__block form button {
  width: 120px;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  background-color: #367c36;
  outline: none;
  color: white;
  border: 3px solid #4a894a;
}
.Main__aside__block--links {
  display: flex;
  flex-direction: column;
}
.Main__aside__block--links a {
  font-size: 0.7rem;
  line-height: 1.5rem;
  padding-left: 0.5rem;
  color: #1e5b85;
}
.Main__aside__block--links a:hover {
  background: #eeeeee;
  border-right: 3px solid rgba(128, 128, 128, 0.5);
}
.Main__aside__block--links a:first-child {
  border-top: 1px solid rgba(128, 128, 128, 0.1);
}
.Main__aside__block--links a:first-child:hover {
  background: inherit !important;
  text-decoration: underline;
}
.Main__aside--logout {
  font-size: 0.6rem;
  color: #1e5b85;
  display: inline-block;
  border-left: 1px solid rgba(49, 49, 49, 0.28);
  padding-left: 1rem;
}
.Main__aside--logout:hover {
  text-decoration: underline;
}
.Main__aside--logout a {
  color: inherit;
  padding-left: 0.2rem;
}
.Main__main {
  padding: 2rem;
  width: 100%;
  min-height: 100vh;
}
.Main__main--title {
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #4747471f;
  color: #1e5b85;
}
.Main__main--table {
  margin: 0 auto;
  width: 80%;
  box-shadow: 0px 0px 13px rgba(105, 105, 105, 0.191);
}
.Main__main--table thead {
  background-color: #313131;
  color: #e6e6e6;
}
.Main__main--table td, .Main__main--table th {
  padding: 0.2em;
  text-align: center;
}
.Main__main--table tbody {
  color: #717171;
}
.Main__main--table tbody tr:nth-child(even) {
  background-color: rgba(221, 218, 218, 0.657);
}
.Main__main--table--idrow {
  width: 60px;
}
.Main__main--button {
  display: inline-block;
  text-align: center;
  margin: 0.3rem;
  margin-left: 10%;
  font-size: 0.6rem;
  width: auto;
  padding: 0.2rem 0.4rem;
  cursor: pointer;
  background-color: #367c36;
  color: #f1efef;
  border: 3px solid #5b815b81;
  border-radius: 4px;
}
.Main__main--button:hover {
  background-color: #317031;
}
.Main__products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.Main__products--item {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.1);
  padding: 1rem;
}
.Main__products--item:hover {
  box-shadow: 0px 0px 0px 2px rgba(128, 128, 128, 0.2);
}
.Main__products--item:hover .Main__products--item--details {
  opacity: 1;
}
.Main__products--item img {
  margin-bottom: 0.3rem;
  width: 150px;
  height: 170px;
  object-fit: cover;
}
.Main__products--item--title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.Main__products--item--details {
  font-size: 0.6rem;
  color: #6d6d6d;
  position: absolute;
  top: 8px;
  right: 8px;
  opacity: 0;
}
.Main__products--item--details:hover {
  text-decoration: underline;
}
.Main__products--item--price {
  font-size: 0.9rem;
  padding: 0.2rem;
  color: #6d6d6d;
}
.Main__products--item--link {
  text-align: center;
  margin: 0.3rem 0;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  width: 130px;
  padding: 0.7rem 1px;
  cursor: pointer;
  background-color: #0e0e0e;
  color: white;
  transition: all 0.1s linear;
}
.Main__products--item--link:hover {
  background-color: white;
  color: #0e0e0e;
  box-shadow: 0px 0px 0px 1px black;
}

.admin {
  text-align: center !important;
  margin-bottom: 0.3rem !important;
}

.order-item {
  text-align: left !important;
}
.order-item:hover {
  border-right: none !important;
}

.Product {
  height: 400px;
  width: 100%;
  display: flex;
  box-shadow: 0px 0px 15px rgba(116, 116, 116, 0.1);
}
.Product__imageContainer {
  flex-basis: 40%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Product__imageContainer--image {
  width: 80%;
  height: 80%;
}
.Product__details {
  width: 60%;
  flex-basis: 60%;
  padding: 2rem;
  position: relative;
}
.Product__details > * {
  margin: 1rem 0px;
  color: #7a7a7a;
}
.Product__details span {
  font-weight: bold;
  text-decoration: underline;
}
.Product__details--description, .Product__details--price, .Product__details--name {
  margin-left: 0.5rem;
}
.Product__details--description {
  font-size: 0.9rem;
}
.Product__details--price {
  display: inline-block;
  color: green;
}
.Product__details--buy {
  display: block;
  text-align: center;
  width: 150px;
  padding: 0.5rem 1rem;
  background: #0fbb0f;
  color: white;
  position: absolute;
  bottom: 2rem;
  right: 3rem;
}

.Cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.109);
}
.Cart__header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Cart__title {
  font-size: 1rem;
  color: #2a2626;
  margin-left: 0.7rem;
}
.Cart__list {
  font-size: 0.8rem;
  padding-left: 1.2rem;
  color: #8a8a8a;
}
.Cart__total {
  margin: 1rem 0;
  padding: 0.3rem 0.5rem;
  float: right;
  border: 1px solid #414141;
  display: inline-block;
  background: #ffffff;
  color: #252323;
  box-shadow: 0px 0px 14px #c3c3c33d inset;
}
.Cart a {
  font-size: 0.8rem;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  display: block;
  text-align: center;
}
.Cart a:hover {
  background: none !important;
  box-shadow: none !important;
  text-decoration: underline;
}
.Cart__delete {
  float: right;
}

.Cart__form {
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
.Cart__form tr, .Cart__form td, .Cart__form th {
  padding: 0.5rem 1rem;
  text-align: center;
}
.Cart__form .tr-hover {
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
.Cart__form .tr-hover:hover {
  box-shadow: 0px 0px 0px 1px rgba(128, 128, 128, 0.2);
}
.Cart__form .tr-hover:hover .resalt--file {
  text-decoration: underline;
}
.Cart__form--remove a {
  width: 100%;
  text-align: center;
}
.Cart__form--units {
  height: inherit;
  display: flex;
  justify-content: center;
}
.Cart__form--units a {
  font-size: 1rem;
}
.Cart__form--units > * {
  font-weight: bold;
  margin-left: 0.4rem;
}

.Footer {
  height: 80px;
  background-color: #3a3838;
  box-shadow: 0px 0px 15px #00000045 inset;
}
.Footer p {
  color: #bbb1b1;
  line-height: 80px;
}

.Do {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Do--order {
  cursor: pointer;
}
.Do__title {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
.Do__form {
  width: 70%;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.1);
}
.Do__form input {
  width: 70%;
  margin: 1rem 0;
  height: 30px;
  padding: 0.3rem 0.7rem;
}
.Do__form button {
  height: 50px;
  width: 150px;
  margin: 1rem 0px;
  padding: 0.5rem 0.7rem;
  color: #e0e0e0;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #2a2a2a;
  border: none;
  box-shadow: 0px 0px 10px #8b8b8b inset;
  cursor: pointer;
}
.Do__form button:hover {
  color: white;
}

.Cart__form a {
  color: #414141;
}
.Cart__form a:hover {
  text-decoration: underline;
}

.Order__data__management {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.Order__data__management form {
  margin-left: 0.5rem;
  flex-grow: 0.7;
  display: flex;
  align-items: center;
}
.Order__data__management form select {
  width: 100%;
  padding: 0.2rem 0.5rem;
  font-size: 0.7rem;
  color: gray;
  margin-right: 0.5rem;
}
.Order__data__management form select option {
  padding: 0.2rem 0.5rem;
  font-size: 0.7rem;
  color: gray;
}
.Order__data__management form button {
  padding: 0.3rem 0.6rem;
  background: cornflowerblue;
  color: white;
  border: 1px solid gray;
  outline: none;
  cursor: pointer;
}
.Order__data__management form button:hover {
  background: #5a86d5;
}

/*# sourceMappingURL=bundle.css.map */
