.Cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.109);

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title {
    font-size: 1rem;
    color: rgb(42, 38, 38);
    margin-left: .7rem;
  }
  
  &__list {
    font-size: 0.8rem;
    padding-left: 1.2rem;
    color: #8a8a8a;
  }

  &__total {
    margin: 1rem 0;
    padding: 0.3rem 0.5rem;
    float: right;
    border: 1px solid #414141;
    display: inline-block;
    background: #ffffff;
    color: #252323;
    box-shadow: 0px 0px 14px #c3c3c33d inset;
  }

  a {
    font-size: .8rem;
    border: none!important;
    box-shadow: none!important;
    padding: 0!important;
    display: block;
    text-align: center;
    &:hover {
      background: none!important;
      box-shadow: none!important;
      text-decoration: underline;
    }
  }

}

.Cart__form {
  width: 100%;
  border-bottom: 1px solid rgba(gray,0.2);

  
  tr, td, th {
    padding: .5rem 1rem;
    text-align: center;
  }

  .tr-hover {
    border-bottom: 1px solid rgba(gray,0.2);
    cursor: pointer;
    &:hover {
      box-shadow: 0px 0px 0px 1px rgba(gray,0.2);
      .resalt--file {
        text-decoration: underline;
      }
    }
  }


}