.Main {
  display: flex;
  font-family: $f-primary;
  height: 100vh;
  overflow-y: scroll;
  
  &__aside {
     flex-basis: 25%;
     box-shadow: 5px 0px 10px rgba(gray,0.1);
    &__block {
      padding-left: 1rem;
      h4 {
        text-align: left;
        margin: 1rem 0;
        margin-right: 1rem;
        padding: .1rem;
        display: inline-block;
        font-weight: normal;
      }

      form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        > * {
          align-self: flex-start;
        }
        label {
          margin-bottom: .2rem;
        }
        input {
          height: 1.3rem;
          padding: .1rem .3rem;
          margin-bottom: .5rem;
        }
        button {
          width: 120px;
          padding: .2rem .5rem;
          cursor: pointer;
          background-color: $btn-bg-primary;
          outline: none;
          color: white;
          border: 3px solid mix(white, $btn-bg-primary, 10%);
        }
      }

      &--links {
        display: flex;
        flex-direction: column;
        a {
          font-size: .7rem;
          line-height: 1.5rem;
          padding-left: .5rem;
          color: $b-secondary;
          &:hover {
            background: rgb(238, 238, 238);
            border-right: 3px solid rgba(gray,.5);
          }
        }
        a:first-child {
          border-top: 1px solid rgba(gray,0.1);
          &:hover {
            background: inherit!important;
            text-decoration: underline;
          }
        }
      }
    }

    &--logout {
      font-size: .6rem;
      color: $b-secondary;
      display: inline-block;
      border-left: 1px solid rgba(49, 49, 49, 0.28);
      padding-left: 1rem;
      &:hover {
        text-decoration: underline;
      }
      a {
        color: inherit;
        padding-left: .2rem;
      }
      
    }
  }

  &__main {
    padding: 2rem;
    width: 100%;
    &--title {
      text-align: center;
      padding-bottom: 1rem;
      border-bottom: 1px solid #fff0f0;
      margin-bottom: 2rem;
      color: $b-secondary;
    }
    &--table {
      margin: 0 auto;
      width: 80%;
      box-shadow: 0px 0px 13px rgba(105, 105, 105, 0.191);
      thead {
        background-color: rgb(49, 49, 49);
        color: $fc-secondary;
      }
      td, th {
        padding: .2em;
        text-align: center;
        
      }
      tbody {
        color: mix(white,$fc-primary, 25%);
        tr:nth-child(even){
          background-color: rgba(221, 218, 218, 0.657);
        }
      }
      &--idrow {
        width: 60px;
      }
    }
    &--button {
      display: inline-block;
      text-align: center;
      margin: .3rem;
      margin-left: 10%;
      font-size: .6rem;
      width: auto;
      padding: 0.2rem 0.4rem;
      cursor: pointer;
      background-color: #367c36;
      color: rgb(241, 239, 239);
      border: 3px solid #5b815b81;
      border-radius: 4px;
      &:hover {
        background-color: mix(black,#367c36, 10%);
      }
    }
  }
  
  &__products {
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    &--item {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      margin: .5rem;
      margin-bottom: 1rem;
      border: 1px solid rgba(gray,0.1);
      padding: 1rem;
      &:hover {
        box-shadow: 0px 0px 0px 2px rgba(gray,0.2);
        .Main__products--item--details {
          opacity: 1;
        }
      }
      img {
        margin-bottom: .3rem;
        width: 150px;
        height: 170px;
        object-fit: cover;
      }
      &--title {
        font-size: 1rem;
        margin-bottom: .5rem;
        margin-top: .5rem;
      }

      &--details {
        font-size: .6rem;
        color: rgb(109, 109, 109);
        position: absolute;
        top: 8px;
        right: 8px;
        opacity: 0;
        &:hover {
          text-decoration: underline;
        }
      }

      &--price {
        font-size: .9rem;
        padding: .2rem;
        color: rgb(109, 109, 109);
      }
      &--link {
        text-align: center;
        margin: .3rem 0;
        font-size: .7rem;
        width: 120px;
        padding: 0.2rem 0.5rem;
        cursor: pointer;
        background-color: #367c36;
        color: white;
        border: 3px solid #4a894a;
      }

    }
  }

}

.admin {
  text-align: center!important;
  margin-bottom: .3rem!important;
}

.order-item {
  text-align: left!important;
  &:hover {
    border-right: none!important;
  }
}