.Do {
  height: 70vh;
  display:flex;
  justify-content: center;
  align-items: center;

  &__title {
    margin-top: .5rem;
    margin-bottom: 1rem;
    text-align: center;

  }

  &__form {
    width: 70%;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(gray,0.1);
    input {
      width: 70%;
      margin: 1rem 0;
      height: 30px;
      padding: .3rem .7rem;
    }
    
    button {
      height: 50px;
      width: 150px;
      margin: 1rem 0px;
      padding: .5rem .7rem;
      color:rgb(224, 224, 224);
      font-size: .7rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      background: rgb(42, 42, 42);
      border: none;
      box-shadow: 0px 0px 10px rgb(139, 139, 139) inset;
      cursor: pointer;
      &:hover {
        color: white;
      }
    }
  }
}